@model AspWebProgramming.Data.Doktor

@{
    ViewData["Title"] = "Doktor Düzenle";
}



<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="DoktorId" />
    
    <div class="form-group">
        <label asp-for="DoktorAd">@_localization.GetKey("Adı"):</label>
        <input asp-for="DoktorAd" class="form-control" />
        <span asp-validation-for="DoktorAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DoktorSoyad">@_localization.GetKey("Soyadı"):</label>
        <input asp-for="DoktorSoyad" class="form-control" />
        <span asp-validation-for="DoktorSoyad" class="text-danger"></span>
    </div>

    <!-- Diğer alanlarınızı burada ekleyin. Örneğin: -->
    <div class="form-group">
        <label asp-for="DoktorTc">@_localization.GetKey("TC Kimlik Numarası"):</label>
        <input asp-for="DoktorTc" class="form-control" />
        <span asp-validation-for="DoktorTc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DoktorSifre">@_localization.GetKey("Şifre"):</label>
        <input asp-for="DoktorSifre" type="password" class="form-control" />
        <span asp-validation-for="DoktorSifre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DoktorBrans">@_localization.GetKey("Branş"):</label>
        <input asp-for="DoktorBrans" class="form-control" />
        <span asp-validation-for="DoktorBrans" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SelectedAnaBilimId">@_localization.GetKey("Ana Bilim Seçiniz"):</label>
        <select class="form-control" id="DoktorAnaBilim" asp-for="DoktorAnaBilim" name="DoktorAnaBilim">
            <option value="">Seçiniz</option>
            <option value="Temel Tıp">@_localization.GetKey("Temel Tıp")</option>
            <option value="Dahili Tıp">@_localization.GetKey("Dahili Tıp")</option>
            <option value="Cerrahi Tıp">@_localization.GetKey("Cerrahi Tıp")</option>
        </select>
    </div>

    <div class="form-group">
        <label for="DoktorPoliklinik">@_localization.GetKey("Poliklinik Seçiniz"):</label>
        <select class="form-control" id="DoktorPoliklinik" asp-for="DoktorPoliklinik" name="DoktorPoliklinik">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DoktorCinsiyet"></label>
        <select asp-for="DoktorCinsiyet" class="form-control">
            <option value="">@_localization.GetKey("Cinsiyet Seçiniz")</option>
            <option value="Erkek">@_localization.GetKey("Erkek")</option>
            <option value="Kadın">@_localization.GetKey("Kadın")</option>
        </select>
        <span asp-validation-for="DoktorCinsiyet" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@_localization.GetKey("Güncelle")</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(function () {
        var anatomiText = '@_localization.GetKey("Anatomi")';
        var fizyolojiText = '@_localization.GetKey("Fizyoloji")';
        var histolojiText = '@_localization.GetKey("Histoloji")';
        var acilTipText = '@_localization.GetKey("Acil")';
        var kardiyolojiText = '@_localization.GetKey("Kardiyoloji")';
        var radyolojiText = '@_localization.GetKey("Radyoloji")';
        var beyinVeSinirCerrahisiText = '@_localization.GetKey("Beyin ve Sinir Cerrahisi")';

        $("#DoktorAnaBilim").change(function () {
            var selectedAnaBilim = $(this).val();
            var poliklinikDropdown = $("#DoktorPoliklinik"); // ID burada düzeltilmiştir
            // Poliklinikleri sıfırla
            poliklinikDropdown.empty();

            // Temel Tıp seçildiğinde
            if (selectedAnaBilim === "Temel Tıp") {
                poliklinikDropdown.append($('<option>', { value: "Anatomi", text: anatomiText }));
                poliklinikDropdown.append($('<option>', { value: "Fizyoloji", text: fizyolojiText }));
                poliklinikDropdown.append($('<option>', { value: "Histoloji", text: histolojiText }));
            } else if (selectedAnaBilim === "Dahili Tıp") { // Dahili Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', { value: "Acil Tıp", text: acilTipText }));
                poliklinikDropdown.append($('<option>', { value: "Kardiyoloji", text: kardiyolojiText }));
                poliklinikDropdown.append($('<option>', { value: "Radyoloji", text: radyolojiText }));
            } else if (selectedAnaBilim === "Cerrahi Tıp") { // Cerrahi Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', { value: "Beyin ve Sinir Cerrahisi", text: beyinVeSinirCerrahisiText }));
            }
        });

        // Doktor edit sayfası yüklendiğinde mevcut Ana Bilim dalına göre Poliklinik dropdown'ını başlat
        $("#DoktorAnaBilim").trigger("change");
    });
</script>

<!-- <script>
    $(function () {
        var anatomiText = '@_localization.GetKey("Anatomi")';
        var fizyolojiText = '@_localization.GetKey("Fizyoloji")';
        var histolojiText = '@_localization.GetKey("Histoloji")';
        var acilTipText = '@_localization.GetKey("Acil")';
        var kardiyolojiText = '@_localization.GetKey("Kardiyoloji")';
        var radyolojiText = '@_localization.GetKey("Radyoloji")';
        var beyinVeSinirCerrahisiText = '@_localization.GetKey("Beyin ve Sinir Cerrahisi")';
        // Temel Tıp, Dahili Tıp, ve Cerrahi Tıp metinleri de benzer şekilde tanımlanmalı.

        $("#SelectedAnaBilimId").change(function () {
            var selectedAnaBilim = $(this).val();
            var poliklinikDropdown = $("#SelectedPoliklinikId");
            // Poliklinikleri sıfırla
            poliklinikDropdown.empty();

            // Temel Tıp seçildiğinde
            if (selectedAnaBilim === "Temel Tıp") {
                poliklinikDropdown.append($('<option>', { value: "Anatomi", text: anatomiText }));
                poliklinikDropdown.append($('<option>', { value: "Fizyoloji", text: fizyolojiText }));
                poliklinikDropdown.append($('<option>', { value: "Histoloji", text: histolojiText }));
            } else if (selectedAnaBilim === "Dahili Tıp") { // Dahili Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', { value: "Acil Tıp", text: acilTipText }));
                poliklinikDropdown.append($('<option>', { value: "Kardiyoloji", text: kardiyolojiText }));
                poliklinikDropdown.append($('<option>', { value: "Radyoloji", text: radyolojiText }));
            } else if (selectedAnaBilim === "Cerrahi Tıp") { // Cerrahi Tıp seçildiğinde
                poliklinikDropdown.append($('<option>', { value: "Beyin ve Sinir Cerrahisi", text: beyinVeSinirCerrahisiText }));
            }
        });
    });
</script> -->