@model IEnumerable<AspWebProgramming.Data.Doktor>

    @{
        if (ViewData["UserRole"] as string == "Doktor" )
        {
            ViewData["Title"] = "Profil Ayarları";
        }
        else
        {
            ViewData["Title"] = "Doktorlar Listesi";
        }
    
    }

    <h2>@_localization.GetKey(ViewData["Title"] as string)</h2>

    <table class="table">
        <thead>
            <tr>
                <th>@_localization.GetKey("Adı")</th>
                <th>@_localization.GetKey("Soyadı")</th>
                <th>@_localization.GetKey("TC Kimlik Numarası")</th>
                <th>@_localization.GetKey("Cinsiyet")</th>
                <th>@_localization.GetKey("Branş")</th>
                <th>@_localization.GetKey("Ana Bilim")</th>
                <th>@_localization.GetKey("Poliklinik")</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var doktor in Model)
            {
            <tr>
                <td>@doktor.DoktorAd</td>
                <td>@doktor.DoktorSoyad</td>
                <td>@doktor.DoktorTc</td>
                <td>@_localization.GetKey(doktor.DoktorCinsiyet)</td>
                <td>@_localization.GetKey(doktor.DoktorBrans)</td>
                <td>@_localization.GetKey(doktor.DoktorAnaBilim)</td>
                <td>@_localization.GetKey(doktor.DoktorPoliklinik)</td>
                <td>
                    @if (ViewData["UserRole"] as string == "Admin" || ViewData["UserRole"] as string == "Doktor")
                    {
                    <a asp-controller="Doktor" asp-action="Edit" asp-route-id="@doktor.DoktorId"
                        class="btn btn-primary">@_localization.GetKey("Düzenle")</a>
                        @if(ViewData["UserRole"] as string == "Admin")
                        {
                            <a class="btn btn-danger" href="javascript:void(0)"
                            onclick="confirmDelete('@doktor.DoktorId')">@_localization.GetKey("Sil")</a>
                        }
                    }


                </td>
            </tr>
            }
        </tbody>
    </table>
    @section Scripts {
    <script>
        function confirmDelete(id) {
            if (confirm("Bu hastayı silmek istediğinize emin misiniz?")) {
                window.location.href = '/Doktor/Delete/' + id;
            }
        }
    </script>
    }