@model IEnumerable<AspWebProgramming.Data.Doktor>

    @{
        ViewData["Title"] = "Doktorlar Listesi";
    }
    
    <h2>Doktorlar Listesi</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Doktor Adı</th>
                <th>Soyadı</th>
                <th>DoktorTC</th>
                <th>Cinsiyet</th>
                <th>Branş</th>
                <th>Ana Bilim</th>
                <th>Poliklinik</th>

            </tr>
        </thead>
        <tbody>
        @foreach (var doktor in Model)
        {
            <tr>
                <td>@doktor.DoktorAd</td>
                <td>@doktor.DoktorSoyad</td>
                <td>@doktor.DoktorTc</td>
                <td>@doktor.DoktorCinsiyet</td>
                <td>@doktor.DoktorBrans</td>
                <td>@doktor.DoktorAnaBilim</td>
                <td>@doktor.DoktorPoliklinik</td>
                <td>
                    <a asp-controller="Doktor" asp-action="Edit" asp-route-id="@doktor.DoktorId" class="btn btn-primary">Edit</a>
                    <a class="btn btn-danger" href="javascript:void(0)" onclick="confirmDelete('@doktor.DoktorId')">Delete</a>
                </td>
                <!-- Diğer veriler -->
            </tr>
        }
        </tbody>
    </table>
    @section Scripts {
        <script>
            function confirmDelete(id) {
                if(confirm("Bu hastayı silmek istediğinize emin misiniz?")) {
                    window.location.href = '/Doktor/Delete/' + id;
                }
            }
        </script>
    }
    