@model IEnumerable<AspWebProgramming.Data.Randevu>

    @{
        ViewData["Title"] = "Randevu Listesi";
    }
    
    <h2>Randevu Listesi</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Doktor Adı</th>
                <th>Hasta Adı</th>
                <th>Randevu Tarihi</th>
                <th>Randevu Saati</th>
                <!-- Diğer sütun başlıkları ekle -->
            </tr>
        </thead>
        <tbody>
            @foreach (var randevu in Model)
            {
                <tr>
                    <td>@randevu.Doktor.DoktorAdSoyad</td>
                    <td>@randevu.Hasta.HastaAd</td>
                    <td>@randevu.RandevuTarih.ToString("dd.MM.yyyy")</td>
                    <td>@randevu.RandevuSaati.ToString(@"hh\:mm")</td>
                    <td>
                        <a asp-controller="Randevu" asp-action="Edit" asp-route-id="@randevu.RandevuId" class="btn btn-primary">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0)" onclick="confirmDelete('@randevu.RandevuId')">Delete</a>
                    </td>
                    <!-- Diğer sütunları ekle -->
                </tr>
               
            }
        </tbody>
    </table>
    @section Scripts {
        <script>
            function confirmDelete(id) {
                if(confirm("Bu Randevuyu silmek istediğinize emin misiniz?")) {
                    window.location.href = '/Randevu/Delete/' + id;
                }
            }
        </script>
    }