@model AspWebProgramming.Data.Hasta

@{
    ViewData["Title"] = "Hasta Düzenle";
}



<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="HastaId" />
    
    <div class="form-group">
        <label asp-for="HastaTc">@_localization.GetKey("TC Kimlik Numarası"):</label>
        <input asp-for="HastaTc" class="form-control" />
        <span asp-validation-for="HastaTc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HastaAd">@_localization.GetKey("Adı"):</label>
        <input asp-for="HastaAd" class="form-control" />
        <span asp-validation-for="HastaAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HastaSoyad">@_localization.GetKey("Soyadı"):</label>
        <input asp-for="HastaSoyad" class="form-control" />
        <span asp-validation-for="HastaSoyad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HastaTel">@_localization.GetKey("Telefon Numarası"):</label>
        <input asp-for="HastaTel" class="form-control" />
        <span asp-validation-for="HastaTel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HastaEposta">@_localization.GetKey("E-Posta"):</label>
        <input asp-for="HastaEposta" class="form-control" />
        <span asp-validation-for="HastaEposta" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HastaCinsiyet">@_localization.GetKey("Cinsiyet"):</label>
        <select asp-for="HastaCinsiyet" class="form-control">
            <option value="">@_localization.GetKey("Cinsiyet Seçiniz")</option>
            <option value="Erkek">@_localization.GetKey("Erkek")</option>
            <option value="Kadın">@_localization.GetKey("Kadın")</option>
        </select>
        <span asp-validation-for="HastaCinsiyet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HastaSifre">@_localization.GetKey("Şifre"):</label>
        <input asp-for="HastaSifre" class="form-control" type="password" />
        <span asp-validation-for="HastaSifre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@_localization.GetKey("Kaydet")</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
