@model IEnumerable<AspWebProgramming.Data.Hasta>

    @{
        ViewData["Title"] = "Hastalar Listesi";
    }
    

    
    <table class="table">
        <thead>
            <tr>
                <th>@_localization.GetKey("TC Kimlik Numarası")</th>
                <th>@_localization.GetKey("Adı")</th>
                <th>@_localization.GetKey("Soyadı")</th>
                <th>@_localization.GetKey("Telefon Numarası")</th>
                <th>@_localization.GetKey("E-Posta")</th>

            </tr>
        </thead>
        <tbody>
        @foreach (var hasta in Model)
        {
            <tr>
                <td>@hasta.HastaTc</td>
                <td>@hasta.HastaAd</td>
                <td>@hasta.HastaSoyad</td>
                <td>@hasta.HastaTel</td>
                <td>@hasta.HastaEposta</td>
                <td>
                    @if (ViewData["UserRole"] as string == "Admin" || ViewData["UserRole"] as string == "Hasta")
                    {
                        <a asp-controller="Hasta" asp-action="Edit" asp-route-id="@hasta.HastaId" class="btn btn-primary">@_localization.GetKey("Düzenle")</a>
                        <a class="btn btn-danger" href="javascript:void(0)" onclick="confirmDelete('@hasta.HastaId')">@_localization.GetKey("Sil")</a>
                    }
                </td>

                <!-- <td>
                    <a asp-controller="Hasta" asp-action="Edit" asp-route-id="@hasta.HastaId" class="btn btn-primary">@_localization.GetKey("Düzenle")</a>
                    <a class="btn btn-danger" href="javascript:void(0)" onclick="confirmDelete('@hasta.HastaId')">@_localization.GetKey("Sil")</a>
                </td> -->
                <!-- Diğer veriler -->
            </tr>
        }
        </tbody>
    </table>
    @section Scripts {
        <script>
            function confirmDelete(id) {
                if(confirm("Bu hastayı silmek istediğinize emin misiniz?")) {
                    window.location.href = '/Hasta/Delete/' + id;
                }
            }
        </script>
    }
    